<h1>Add a Thing</h1>

<% if flash[:message] %>
  <%=flash[:message] %>
  <br>
  <br>
<%end%>

<form action="/things" method="POST">
  <input type="text" name="thing" placeholder="Thing Name">
  <br>
  <br>
  <input type="text" name="notes" placeholder="Notes">
  <br>
  <br>
  <label> Containers: </label>

<% if @containers %>
  <%@containers.each do |container| %>
    <br>
    <input type ="radio" value="<%=container.name%>" name="container"><%=container.name%>

  <%end%>

<%end%>
<br>
<br>
  <input type="submit" value="Create Thing">
</form>
