<h1>Add a Container</h1>

<% if flash[:message] %>
  <%=flash[:message] %>
<%end%>

<form action="/containers" method="POST">
  <input type="text" name="container" placeholder="Container Name">
  <br>
  <br>
  <% @buildings.each do |building| %>
    <h3> <%= building.name %> Rooms: </h3>
      <% building.rooms.each do |room| %>
        <br>
        <input type ="radio" value="<%=room.id%>" name="room"> <%=room.name%></input>
      <%end%>
  <%end%>

  <input type="submit" value="Create Container">
</form>
