<% if @buildings %>

  <% @buildings.each do |building| %>
    <h3> Building: <a href="/buildings/<%=building.id%>"><%=building.name%></a></h3>
  <%end%>

<% else %>

    <h2>You have not added any buildings.</h2>

<%end%>
