<h1> <%=@building.name%> </h1>

<% if !@rooms.empty? %>
  <h2>Rooms:</h2>
  <br>
    <% @rooms.each do |room| %>
       <h3><a href="/rooms/<%=room.id%>"><%=room.name%></a></h3>
    <%end%>
  </li>

<% else %>

<h2>This building does not have any rooms.</h2>

<%end%>

<form method="post" action="/buildings/<%=@building.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">

  <input type="submit" value="Delete this Building"> (This will delete all rooms, containers, and thing in the building)
