<h1> <%=@building.name%> </h1>

<% if !@rooms.empty? %>
  <h2>Rooms:</h2>
  <br>
    <% @rooms.each do |room| %>
       <h3><a href="/rooms/<%=room.id%>"><%=room.name%></a></h3>
    <%end%>
  </li>

<% else %>

<h2>This building does not have any rooms.</h2>

<%end%>
