<h1> <%=@building.name%> </h1>

<% if !@rooms.empty? %>
  <h2>Rooms:</h2>
  <br>
  <li style="list-style-type: none;">
    <% @rooms.each do |room| %>
      <ul style="list-style-type: none;">  <a href="/rooms/<%=room.id%>"><%=room.name%></a> </ul>
    <%end%>
  </li>

<% else %>

<h2>This building does not have any rooms.</h2>

<%end%>
