<h1> <%=@building.name%> </h1>

<% if @containers %>
<h2>Containers:</h2>
<li style="list-style-type: none;">
<% @containers.each do |container| %>
    <a href="/containers/<%=container.id%>"><%=container.name%></a>
  <%end%>
</li>
<% else %>

    <h2>This building does not have any containers.</h2>

<%end%>
