<h1>Welcome to Thing Tracker</h1>

  <h3> Log in to Thing Tracker </h3>
  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username:">
    <br>
    <input type="password" name="password" placeholder="Password:">
    <br>
    <input type="submit" value="Log in">
  </form>


<h3>Sign Up for Thing Tracker</h3>

<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username">
  <br>
  <input type="text" name="email" placeholder="Email">
  <br>
  <input type="password" name="password" placeholder="Password">
  <br>
  <input type="submit" value="Sign Up">
</form>
