<!DOCTYPE html>
<html>
<head>
  <link rel=”stylesheet” type=”text/css” href=”/style.css” />
  <title>Thing Tracker</title>
</head>
  <body>
    <%    if session[:user_id]     %>

    <ul>
      <li><a href="/user/show">Home</a></li>
      <li style="float:right"><a href="/logout">Logout</a></li>
    </ul>

    <%else%>
    <ul>
      <li><a href="/login">Login</a></li>
    </ul>
    <%end%>
    <%= yield %>
  </body>
</html>
